<h2>Welcome to <%= @chatroom.name %>!</h2>
<div class="chat_box">
  <ul>
    <%= render @messages %>
  </ul>
</div>

<div class="chat_entry">
  <%= form_for [@chatroom, @message] do |form| %>
    <%= form.text_area :body %>
    <%= form.submit "Send" %>
  <% end %>
</div>
