<h2>Welcome to <%= @chatroom.name %>!</h2>
<div class="chat_container">
  <div class="chat_box">
    <ul id="messages">
      <%= render @messages %>
    </ul>
  </div>

  <div class="chat_entry">
    <%= form_for [@chatroom, @message] do |form| %>
      <%= form.text_field :body %>
      <%= form.submit "Send" %>
    <% end %>
  </div>
</div>
