<!DOCTYPE html>
<html>
<head>
  <title>Catchat</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script>
    window.PUSHER = "<%= ENV.fetch('PUSHER_APP_KEY')%>";
  </script>

  <%= content_for :javascript %>
  <script src="//js.pusher.com/2.2/pusher.min.js"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

</head>
<body>
  <div class="page_head">
    <% if flash.any? %>
      <% flash.each do |key, value| %>
        <div id="flash_<%= key %>">
         <%= flash[key] %>
       </div>
      <% end %>
    <% end %>

    <p><img src="https://polyengineer.files.wordpress.com/2014/07/nyan_cat.png" alt="nyan, nyan, nyan" height="50" width="150"></p>
    <% if signed_in? %>
      <p><em>You're currently signed in as <%= current_user.username %>.</em></p>
      <%= link_to "Sign out", session_path, method: :delete %>
    <% end %>
  </div>

<%= yield %>

</body>
</html>
