<!DOCTYPE html>
<html>
<head>
  <title>Catchat</title>
  <script src="//js.pusher.com/2.2/pusher.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <script>
    window.CHANNEL = "<%= params[:id] %>"
    window.PUSHER = "<%= ENV.fetch('PUSHER_APP_KEY')%>";
  </script>

</head>
<body>
  <div class="page_head">
    <% if flash.any? %>
      <% flash.each do |key, value| %>
        <div id="flash_<%= key %>">
         <%= flash[key] %>
       </div>
      <% end %>
    <% end %>

    <p><em>nyan...nyan...nyan...</em></p>
    <% if signed_in? %>
      <p><em>You're currently signed in as <%= current_user.username %>.</em></p>
      <%= link_to "Sign out", session_path, method: :delete %>
    <% end %>
  </div>

<%= yield %>

</body>
</html>
